.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 40px);
}
body {
  background-color: black;
  color: yellow
}
.board-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2);
  grid-template-areas:
    "player computer"
    "random ships";
}

.squares {
  border: 1px solid black;
  background-color: rgb(189, 189, 189);
  width: 40px;
  height: 40px;
}

.ship {
  border: 1px solid black;
  background-color: rgb(26, 148, 101);
  width: 40px;
  height: 40px;
}

.parent {
  margin: auto;
}

.attacked {
  background-color: rgb(13, 223, 212);
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.hit {
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid black;
}

.win-container {
  margin-top: 100px;
}
.random {
  width: 160px;
  margin: 40px auto;
  grid-area: random;
}
.remaining-ships {
  grid-area: ships;
  display: grid;
  grid-template-columns: repeat(6, 42px);
  margin: 40px auto;
}

.square-left {
  border: 1px solid white;
  height: 40px;
  width: 40px;
  background-color: rgb(26, 148, 101);
}
.square-hit {
  border: 1px solid white;
  height: 40px;
  width: 40px;
  background-color: red;
}

@media only screen and (max-width: 400px) {
  .welcome {
    margin-top: 160px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(9, 18px);
  }
  .board-grid {
    display: grid;
    grid-template-columns: repeat(2, 170px);
  }
  .squares {
    width: 18px;
    height: 18px;
  }
  .ship {
    width: 18px;
    height: 18px;
  }
  .attacked {
    width: 18px;
    height: 18px;
  }

  .hit {
    width: 18px;
    height: 18px;
  }
  .board-grid {
    width: 20px;
  }
  .current-player {
    font-size: 30px;
  }
  .parent {
    margin-left: 0px;
  }
  .random {
    width: 130px;
    margin-top: 20px;
    font-size: 15px;
  }

  .remaining-ships {
    grid-area: ships;
    display: grid;
    grid-template-columns: repeat(6, 20px);
    margin: 20px auto;
  }

  .square-left {
    height: 18px;
    width: 18px;
  }
  .square-hit {
    height: 18px;
    width: 18px;
  }
}
